[submodule "shared-config"]
	path = shared-config
	url = https://github.com/kingwhangzang/YouTIL-config.git
	branch = main
[submodule "YouTIL-config"]
	path = YouTIL-config
	url = https://github.com/kingwhangzang/YouTIL-config
	branch = main
